{% extends "layouts/default.html" %}
{% set title = "Index" %}
{% set pageTitle = "Homepage" %}
{% set benefits = ["Fast!", "Easy!", "Efficient!"] %}

{% block content %}
<h2 class="mb-2">{{ pageTitle }}</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis nostrum odio voluptatem, quos sunt veritatis quidem pariatur debitis non error, tempore earum cum commodi asperiores repellendus aliquid ipsum repellat iure.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab et officiis harum blanditiis architecto, assumenda recusandae veritatis nulla, numquam odio cupiditate tempora facere impedit, beatae quas deleniti saepe inventore a!</p>

{% endblock %}