---
title: Index Page Title
pageTitle: Homepage
test: Test Variable
bannerImage: 'https://www.justinhough.com/assets/images/banners/home-banner-bkg-3.jpg'
---

{% extends "layouts/default.html" %}

{% block content %}

<!-- <img src="{{ bannerImage }}" alt="{{ pageTitle }}"> -->

<h2 class="mb-2">{{ title }}</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis nostrum odio voluptatem, quos sunt veritatis quidem pariatur debitis non error, tempore earum cum commodi asperiores repellendus aliquid ipsum repellat iure.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab et officiis harum blanditiis architecto, assumenda recusandae veritatis nulla, numquam odio cupiditate tempora facere impedit, beatae quas deleniti saepe inventore a!</p>

VARIABLE OUTPUT: {{ test }}

{% endblock %}